<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_tag log_in_path do %>
	<%= label_tag="Username" %>
	<%= text_field_tag :name %>
	<br>
	<%= label_tag(:password) %>
	<%= text_field_tag :password %>
	<br>
	<%= submit_tag "Log In" %>
<% end %>