<div id="login-text">
		<h2>Have an account?</h2>
			<%= form_tag sessions_path do %>
				<%= label_tag="Username" %>
				<br>
				<%= text_field_tag :name %>
				<br>
				<%= label_tag="Password" %>
				<br>
				<%= password_field_tag :password %>
				<br>
				<%= submit_tag "Log In" %>
			<% end %>

			<p>No Account? Sign up here.
			<%= button_to "Create Account", new_user_path, method: :get %> <%#had to tell "button_to" that it needs to get the path#%>
 			</p>
	</div>

	<div id="login-box">
	</div>



