<h1><%= @user.name %></h1>
<br>
<%= button_to "Edit", edit_user_path, method: :get %>

<%= form_for @post do |f| %>
	<%= f.hidden_field :user_id, :value => @user.id%>
	<%= f.label :title %>
	<br>
	<%= f.text_field :title %>
	<br>
	<%= f.label :body %>
	<br>
	<%= f.text_area :body %>
	<br>
	<%= f.submit %>
<% end %>

<h2>Blog Posts:</h2>
<% @user.posts.reverse_each do |p| %>

		<h3><%= link_to p.title, post_path(@posts.id) %></h3>

		<%= button_to "Edit", edit_post_path, method: :get %>
		<br>
<% end %>