
	<div id="poster">
	<h3>Hey, <%= current_user.name %>! What's on your mind?</h3>

	<%= form_for @post do |f| %>
		<%= f.hidden_field :user_id, :value => current_user.id%>
		<%= f.label :title %>
		<br>
		<%= f.text_field :title %>
		<br>
		<%= f.label :body %>
		<br>
		<%= f.text_area :body %>
		<br>
		<%= f.submit %>
	<% end %>
</div>

<div id="home-content">
	<% @posts.last(7).reverse_each do |post| %>

	<div class="text">
		<h3><%= link_to post.title, post_path(post.id) %></h3>
		<p><%= post.user %></p>
		<p><%= post.user.name %></p>
	</div>

	<% end %>
</div>
